body{
    font-family: Arial, sans-serif;
    background:#f2f4f7;
    margin:0;
    padding:15px;
}

.header{
    background:#0b8f4d;
    color:white;
    text-align:center;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.stats{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
    margin-bottom:20px;
}

.card{
    background:#16a34a;
    color:white;
    text-align:center;
    padding:15px;
    border-radius:12px;
    font-weight:bold;
}

button{
    width:100%;
    background:#16a34a;
    color:white;
    border:none;
    padding:14px;
    border-radius:10px;
    margin:6px 0;
    font-size:16px;
}

input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:10px;
    box-sizing:border-box;
}

h2,h3{
    color:#0b8f4d;
}
